.horizontal-container{
    display: flex;
    flex-direction: row;
}

.card{
    border: 1px solid royalblue;
    width: 350px;
}

.data-container{
    margin: 20px;
}

.container-space{
    justify-content: space-between;
}